h1{
	//color: #00A8C6;
}

pre {
	display: block;
	font-family: monospace;
	overflow: hidden;
}
code.hljs {
	padding: 1em 2em 2em 2em;
	font-size: 1.1em;
	line-height: 1.2
}
.content{
	margin-top: 6em
}
.margin-top{
	margin-top: 4em;
}
.footer{
	padding-top: 30px;
}
.code{
	background: #23241f;
}

.demos-buttons{
	
}

/* demos */
.article{
	background: #008cba;
	height: 180px;
	padding: 10px;
}

.article-video{
	height: 180px;
}

.article h2{
	color: #FFF;
}

.article p{
	color: #FFF;
}

.video-demo .article-video{
	height: 300px;
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;

	-webkit-background-size: initial;
	-moz-background-size: initial;
	-o-background-size: initial;
	background-size: initial;
}







