<footer class="footer">
	<div class="row">
		<div class="large-12 columns">
			<h5>
				<a href="/docs/support-contact.html">{{ pkg.author.name }}</a>
				<a id="custom-tweet-button" href="https://twitter.com/share?url=http://www.owlcarousel.owlgraphic.com&text={{ app.title }} - This is so awesome! " target="_blank"></a>
			</h5>
		</div>
	</div>
</footer>
